[tool.poetry]
name = "py_midicsv"
version = "2.0.1"
description = "A library for converting MIDI files from and to CSV format"
authors = ["Tim Wedde <timwedde@icloud.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/timwedde/py_midicsv"
homepage = "https://github.com/timwedde/py_midicsv"

[tool.poetry.scripts]
midicsvpy = "py_midicsv.cli:midicsv"
csvmidipy = "py_midicsv.cli:csvmidi"

[tool.poetry.dependencies]
python = "^3.7"
click = "^8.0.3"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"
pytest = "^6.1.2"
black = "^20.8b1"
pre-commit = "^2.9.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
